
body {
  background-image: url('../img/boi3-19.jpg');
  /*background-size: cover; Растягивает изображение на весь экран*/
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение */
}

.board-container {
  display: flex;
  justify-content: space-around;
}
.grid {
  display: grid;
  background-color:#3D6773;
  grid-template-columns: repeat(10, 30px);
  gap: 3px;
}
.field{
  display: inline-block;
}
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hit {
  background-color: red;
}
.miss {
  background-color: lightgray;
}